@model IEnumerable<THBuoi2.Models.Product>
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Sản Phẩm</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin"> Home</a></li>
                    <li class="breadcrumb-item active">Quản Lý Sản Phẩm</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Mục Sản Phẩm </h3>
                    </div>
                    <div class="card-header">
                        <a asp-action="Add" class="card-title"> Thêm sản phẩm </a>
                    </div>
                    <!-- ./card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Ảnh</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model)
                                {
                                    <tr data-widget="expandable-table" aria-expanded="false">
                                        <td>@product.Id</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(product.ImageUrl))
                                            {
                                                <img src="@product.ImageUrl" alt="Product Image" style="max-width:100px; max-height:100px">
                                            }
                                        </td>

                                        <td>@product.Name</td>
                                        <td>@product.Price</td>
                                        <td>@product.Category.Name</td>
                                        <td>
                                            <a asp-action="Display" asp-route-id="@product.Id">View</a> |
                                            <a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                                            <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                                        </td>
                                    </tr>
                                    <tr class="expandable-body">
                                        <td colspan="6">
                                            <p>
                                                @product.Description
                                            </p>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>


@*<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Category?.Name</td>
                <td>
                    <a asp-action="Display" asp-route-id="@product.Id">View</a> |
                    <a asp-action="Update" asp-route-id="@product.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>*@

